.postEditor {
    .editor-save {
        float: right;
    }

    input {
        margin: 10px auto;
        width: 100%;
        line-height: 1.5em;
        @extend %border;
        height: 30px;
        line-height: 30px;
        margin-bottom: 20px;
    }

    textarea {
        margin-bottom: 10px;
        height: 100px;
        width: 100%;
        @extend %border;
    }
}